html {
    width: 100%
}

body {
    width: 100%;
}

#content {
    width: 100%;
}

.wrapper {
    max-width: 60%;
    width: auto;
    margin: 0 auto;
}

.grid {
    /* background: #EEE; */
    width: 100%;
}

.grid-sizer,
.gird-item {
    width: 20%;
}

.grid-item {
    width: 20%;
    min-width: 150px;
    margin-bottom: 10px;
}

.grid-item img {
    width: 100%;
}

/* dropzone */
.drag-and-drop-area {
  color: #ccc;
  height: 200px;
  margin: 30px 0 20px;
  border-style: dashed;
  border-width: 2px;
  line-height: 200px;
  text-align: center;
  cursor: pointer;
}

.drag-and-drop-area-over {
  border-color: #0000FF;
}

.drag-and-drop-area-over span {
  opacity: 0.2;
}

.drag-and-drop-area-out {
  border-color: #ccc;
}

.drag-and-drop-area-out span {
  opacity: 1;
}
