html {
    width: 100%
}

body {
    width: 100%;
}

#content {
    width: 100%;
}

.wrapper {
    max-width: 60%;
    width: auto;
    margin: 0 auto;
}

.grid {
    /* background: #EEE; */
    width: 100%;
}

.grid-sizer,
.gird-item {
    width: 20%;
}

.grid-item {
    width: 20%;
    min-width: 150px;
    margin-bottom: 10px;
}

.grid-item img {
    width: 100%;
}
